
<!-- /// jQuery ////////  -->
{{ theme:js file="jquery-2.1.0.min.js" }}

<!-- /// ViewPort ////////  -->
{{ theme:js file="viewport/jquery.viewport.js" }}

<!-- /// Easing ////////  -->
{{ theme:js file="easing/jquery.easing.1.3.js" }}

<!-- /// SimplePlaceholder ////////  -->
{{ theme:js file="simpleplaceholder/jquery.simpleplaceholder.js" }}

<!-- /// Fitvids ////////  -->
{{ theme:js file="fitvids/jquery.fitvids.js" }}

<!-- /// Superfish Menu ////////  -->
{{ theme:js file="superfish/hoverIntent.js" }}
{{ theme:js file="superfish/superfish.js" }}

<!-- /// Revolution Slider ////////  -->
{{ theme:js file="revolutionslider/pluginsources/jquery.themepunch.plugins.min.js" }}
{{ theme:js file="revolutionslider/js/jquery.themepunch.revolution.min.js" }}

<!-- /// bxSlider ////////  -->
{{ theme:js file="bxslider/jquery.bxslider.min.js" }}

<!-- /// Magnific Popup ////////  -->
{{ theme:js file="magnificpopup/jquery.magnific-popup.min.js" }}

<!-- /// Parallax ////////  -->
{{ theme:js file="parallax/jquery.parallax.min.js" }}

<!-- /// EasyPieChart ////////  -->
{{ theme:js file="easypiechart/jquery.easypiechart.min.js" }}

<!-- /// Easy Tabs ////////  -->
{{ theme:js file="easytabs/jquery.easytabs.min.js" }}

<!-- /// Form validate ////////  -->
{{ theme:js file="jqueryvalidate/jquery.validate.min.js" }}

<!-- /// Form submit ////////  -->
{{ theme:js file="jqueryform/jquery.form.min.js" }}

<!-- /// gMap ////////  -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
{{ theme:js file="gmap/jquery.gmap.min.js" }}

<!-- /// Custom JS ////////  -->
{{ theme:js file="plugins.js" }}
{{ theme:js file="scripts.js" }}
{{ theme:js file="chat.js" }}