
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
<meta name="description" content=" add description  ... ">
<meta name="keywords" content="HTML5">

<title>{{ template:title }} | {{ settings:site_name }}</title>
<base href="{{ url:base }}"/>

<!-- /// Favicons ////////  -->
{{ theme:favicon file="apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144"}}
{{ theme:favicon file="favicon.png" rel="shortcut icon" sizes="144x144"}}

<!-- /// Template CSS ////////  -->
{{ theme:css file="base.css" }}
{{ theme:css file="grid.css" }}
{{ theme:css file="elements.css" }}
{{ theme:css file="layout.css" }}

<!-- /// JS Plugins CSS ////////  -->
{{ theme:css file="revolutionslider/settings.css" }}
{{ theme:css file="revolutionslider/custom.css" }}
{{ theme:css file="bxslider/jquery.bxslider.css" }}
{{ theme:css file="magnificpopup/magnific-popup.css" }}

<!-- /// Google Fonts ////////  -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

<!-- /// IconFontCustom ////////  -->
{{ theme:css file="iconfontcustom/iconfontcustom.css" }}

<!-- /// FontAwesome Icons 4.0.3 ////////  -->
{{ theme:css file="fontawesome/font-awesome.min.css" }}

<!-- /// Cross-browser CSS3 animations ////////  -->
{{ theme:css file="animate/animate.min.css" }}

<!-- /// Modernizr ////////  -->
{{ theme:js file="modernizr-2.6.2.min.js" }}


