<!DOCTYPE html>
<html class="no-js">
<head>
	{{ theme:partial name="metadata" }}
</head>
<body>
	<!--[if lte IE 8]>
        <p class="browser-update">
        	You are using an <strong>outdated</strong> browser. Please 
        	<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a> 
            to improve your experience.
		</p>
	<![endif]-->
	{{ theme:partial name="header" }}
	{{ template:body }}
	{{ theme:partial name="footer-plugins" }}
	{{ theme:partial name="footer" }}
</body>
</html>
